/* ****************** Main part styles this is project ****************** */

body {
    background-color: #e1e4e6;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin:  0 auto;
}

.main-size {
    display: block;
    margin:  0 auto;
    max-width: 984px;
}

/* h2, h3::first-letter {
    color: #ae4b5d;
} */

.mr-20 {
    margin-right: 20px;
}

.ml-22 {
    margin-left: 22px;
}

.ml-39 {
    margin-left: 39px; 
}

.mt-19 {
    margin-top: 19px;
}

.pt-44 {
    padding-top: 44px;
}

/* ********** Header styles ********** */
/* Header styles */
header {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 72px;
    background: url(../img/img-back_header.png) repeat;
}

header .layout {
    display: flex;
    justify-content: space-between;
}

header .layout .logo {
    height: 38px;
    margin-top: 19px;
    margin-bottom: 15px;
    margin-left: 8px;
}

header .layout .logo img {
    max-width: 100%;
    width: 125px;
    height: 24px;
}

header .layout .logo p {
    font-size: 11px;
    color: #656f7a;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

header .layout .form-search .search {
    height: 31px;
    width: 196px;
    margin: 19px 10px 0;
    padding: 0 9px 0 9px;
    color: #5b636e;
    border: 1px solid #875f66;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #1b1e22 0%, #24272d 100%);
    background-image: -moz-linear-gradient(top, #1b1e22 0%, #24272d 100%);
    background-image: -o-linear-gradient(top, #1b1e22 0%, #24272d 100%);
}

header .layout .form-search .button-search {
    height: 31px;
    width: 36px;
    background-color: #ae4b5d;
    border: 1px solid #ae4b5d;
    border-radius: 5px;
    margin-right: 8px;
}

header .layout .form-search .searchs::-webkit-input-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
}
header .layout .form-search .search::-moz-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
}
header .layout .form-search .search:-moz-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
}
header .layout .form-search .search:-ms-input-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
}
header .layout .form-search .search:focus::-webkit-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}
header .layout .form-search .search:focus::-moz-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}
header .layout .form-search .search:focus:-moz-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}
header .layout .form-search .search:focus:-ms-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}

/* ********** Main styles ********** */
/* Styles section top-img */
main .main-inf-nav .top-img {
    display: block;
    overflow: hidden;
    position: relative;
    height: 240px;
    width: 100%;
    background-image: url(../img/img-header.png);
    /* background-size: 100%; */
    background-position: center;
    border-top: 1px solid rgba(81, 50, 75, 0.3);
    border-bottom: 1px solid rgba(81, 51, 75, 0.3);
}

main .main-inf-nav .top-img h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #a5adb8;
}

main .main-inf-nav .top-img h4 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #a5adb8;
    padding-top: 18px;
}

main .main-inf-nav .top-img h2:first-letter {
    color: #ae4b5d;
}

main .main-inf-nav .top-img .p1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #282d33;
    padding-top: 2px;
}

main .main-inf-nav .top-img .p2 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d9dcdf;
    padding-top: 8px;
    width: 484px;
    line-height: 18px;
}

/* Styles section navigate */
main .main-inf-nav .nav {
    display: block;
    height: 36px;
    width: 100%;
    background-color: #95161f;
}

main .main-inf-nav .nav nav {
    display: flex;
    justify-content: flex-end;
}

main .main-inf-nav .nav nav ul {
    display: flex;
    flex-direction: row;
}

main .main-inf-nav .nav nav ul li {
    height: 36px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 24px 0 24px;
}

main .main-inf-nav .nav nav ul li:hover {
    background-color: #7b2b45;
    font-size: 16px;
    transition-duration: 0.7s;
}

main .main-inf-nav .nav nav li a {
    display: block;
    color: #ffffff;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
}

/* Styles section breadcrumps */
main .main-inf-nav .breadcrumbs {
    display: block;
    width: 100%;
    height: 26px;
    background-color: #f3f3f3;
}

main .main-inf-nav .breadcrumbs .path {
    padding-left: 2px;
}

main .main-inf-nav .breadcrumbs .path a {
    color: #95161f;
    font-size: 11px;
    line-height: 26px;
    text-align: center;  
}

main .main-inf-nav .breadcrumbs .path a:last-child {
    text-decoration: none;
    color: #6b6f74;
}

main .main-inf-nav .breadcrumbs .path a:hover {
    text-decoration: none;
}

/* ***** Styles main container ***** */
main .main-container {
    display: flex;
    flex-direction: column;
}

/* Styles side left */
main .main-container .side-left {
    width: 250px;
    height: auto;
    background-color: #ffffff;
}

main .main-container .side-left .form-contact {
    width: 215px;
    background-color: #f3f3f3;
    border: 1px solid #d8dbde;
    box-sizing: border-box; 
}

main .main-container .side-left .form-contact h4 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 19px 5px 0 15px;
}

main .main-container .side-left .form-contact input {
    display: block;
    position: relative;
    overflow: hidden;
    height: 31px;
    width: 165px;
    margin: 16px 15px;
    padding: 0 10px 0 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: -webkit-linear-gradient(top, #cfcfd0 0%, #e3e4e5 100%);
    background-image: -moz-linear-gradient(top, #cfcfd0 0%, #e3e4e5 100%);
    background-image: -o-linear-gradient(top, #cfcfd0 0%, #e3e4e5 100%);
    border: 1px solid #fffcfc;
    border-radius: 5px;
}

main .main-container .side-left .form-contact input::-webkit-input-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
}
main .main-container .side-left .form-contact input::-moz-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
}
main .main-container .side-left .form-contact input:-moz-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
}
main .main-container .side-left .form-contact input:-ms-input-placeholder {
    opacity: 1; transition: opacity 0.3s ease;
}
main .main-container .side-left .form-contact input:focus::-webkit-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}
main .main-container .side-left .form-contact input:focus::-moz-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}
main .main-container .side-left .form-contact input:focus:-moz-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}
main .main-container .side-left .form-contact input:focus:-ms-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;
}

main .main-container .side-left .form-contact select {
    display: block;
    position: relative;
    overflow: hidden;
    color: #757575;
    height: 31px;
    width: 185px;
    margin: 16px 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: -webkit-linear-gradient(top, #cfcfd0 0%, #e3e4e5 100%);
    background-image: -moz-linear-gradient(top, #cfcfd0 0%, #e3e4e5 100%);
    background-image: -o-linear-gradient(top, #cfcfd0 0%, #e3e4e5 100%);
    border: 1px solid #a2a2a2;
    border-radius: 5px;
}

main .main-container .side-left .form-contact a {
    display: block;
    position: relative;
    width: 133px;
    height: 15px;
    padding: 10px 17px 10px 18px;
    margin: 17px 23px 32px 15px;
    color: #f5f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background-color: #ab222c;
    border: 5px solid #ffffff;
    box-shadow: 0 7px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}

main .main-container .side-left .form-contact a:hover {
    background-color: #7b2b45;
    transition-duration: 0.7s;
}

main .main-container .side-left .aside-info h4 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 26px 0 13px 0;
}

main .main-container .side-left .aside-info p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 205px;
    margin-bottom: 10px;
}

main .main-container .side-left .aside-info a {
    color: #95161f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

main .main-container .side-left .aside-info a:hover {
    text-decoration: none;
}


/* Styles main information */
main .main-container .main-info {
    width: 730px;
    height: auto;
    background-color: #ffffff;
}


/* ********** Footer styles ********** */